body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

table.standard {
  margin-left: auto; 
  margin-right: auto;
  vertical-align: middle;
}

#resultados {
 position: inline;
 width: 100%;
 max-width:500px;
 cursor: pointer;
 overflow-y: auto;
 max-height: 250px;
 box-sizing: border-box;
 z-index: 1001;
}
.link-class:hover{
 background-color:#f1f1f1;
}
.consulta-protocolo {
  bottom: 10px;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 1002; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#iframe-overlay {
  position: absolute;
  top: 52%;
  left: 50%;
  width: 80%;
  height: 85%;
  border: none;
  transform: translate(-50%, -50%);
}