{% extends "base.html" %}
   
{% block content %}

<ul>
    {% for paciente in pacientes_usuario%}
        <li> 
            {{ paciente }} 
            <ul>
                {% for processo in paciente.processos.all %}
                {% if processo.usuario == usuario %}
                <li>{{ processo }}
                <form action="{% url 'processos-edicao' %}" method="GET" class="form-inline my-2 my-lg-0">
                    <input type="hidden" name="id" class="form-control mr-sm-2" type="text" value="{{ processo.id }}">
                    <button class="btn btn-outline-success" type="submit">Editar</button>
                </form>
                </li>
                {% endif %}
                {% endfor %}
            </ul>

        </li>
            
    {% endfor %}
</ul>

{% endblock content %}