{% extends 'base.html' %}

{% block scripts %}

{% load static %}

<!-- Masks -->
<script src="{% static 'js/masks/cpf.js' %}"></script>

<!-- Form specific behaviour -->
<script src="{% static 'js/forms/base-process.js' %}"></script>

{% endblock %}

{% block content %}

<div class="card shadow rounded">
  <div class="card-body">
    <header class="mb-4">
      <h2 class="card-title">LME Base</h2>
      <hr>
    </header>
    <form method="POST">
      <div class="form-row">
        <div class="col-4">
          <div class="form-group">
            <label for="cpf">CPF do Paciente<span class="required-mark">*</span></label>
            <div class="input-group">
              <input class="form-control" type="text" id="cpf" name="cpf" value="{{ paciente }}">
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-4">
          <div class="form-group">
            <label for="cnes">Números do CNES<span class="required-mark">*</span></label>
            <div class="input-group">
              <input class="form-control" type="text" id="cnes" name="cnes">
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="form-group">
            <label for="establishment-name">Nome do estabelecimento de saúde solicitante</label>
            <div class="input-group">
              <input class="form-control" type="text" id="establishment-name" name="establishment_name">
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-9">
          <div class="form-group">
            <label for="patient-name">Nome completo do Paciente<span class="required-mark">*</span></label>
            <div class="input-group">
              <input class="form-control" type="text" id="patient-name" name="patient_name">
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="patient-weight">Peso do Paciente<span class="required-mark">*</span></label>
            <div class="input-group">
              <input class="form-control" type="number" id="patient-weight" name="patient-weight">
              <div class="input-group-append">
                <span class="input-group-text">kg</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-9">
          <div class="form-group">
            <label for="patient-mother-name">Nome da mãe do Paciente<span class="required-mark">*</span></label>
            <div class="input-group">
              <input class="form-control" type="text" id="patient-mother-name" name="patient_mother_name">
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="patient-height">Altura do Paciente<span class="required-mark">*</span></label>
            <div class="input-group">
              <input class="form-control" type="number" id="patient-height" name="patient-height">
              <div class="input-group-append">
                <span class="input-group-text">cm</span>
              </div>
            </div>
          </div>
        </div>
      </div>      
      <div class="form-row">
        <div class="col-2">
          <div class="form-group">
            <label for="cid-10">CID-10<span class="required-mark">*</span></label>
            <div class="input-group">
              <input class="form-control" type="text" id="cid-10" name="cid_10">
            </div>
          </div>
        </div>
        <div class="col-10">
          <div class="form-group">
            <label for="diagnosis">Diagnóstico</label>
            <div class="input-group">
              <input class="form-control" type="text" id="diagnosis" name="diagnosis">
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12">
          <div class="form-group">
            <label for="anammese">Anammese<span class="required-mark">*</span></label>
            <div class="input-group">
              <textarea class="form-control" rows="4" id="anammese" name="anammese"></textarea> 
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12">
          <div class="form-group">
            <label for="first-time">Paciente realizou tratamento prévio ou está em tratamento da doença?<span class="required-mark">*</span></label>
            <div class="input-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="first-time-yes" name="first-time" value="true">
                <label class="form-check-label" for="first-time-yes">Sim</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="first-time-no" name="first-time" value="false" checked>
                <label class="form-check-label" for="first-time-no">Não</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" id="first-time-report-field" style="display: none">
          <div class="form-group">
            <label for="first-time-report">Relatar<span class="required-mark">*</span></label>
            <div class="input-group">
              <textarea class="form-control" rows="4" id="first-time-report" name="first_time_report"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12">
          <div class="form-group">
            <label for="incapable">Paciente é considerado incapaz?<span class="required-mark">*</span></label>
            <div class="input-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="incapable-yes" name="incapable" value="true">
                <label class="form-check-label" for="incapable-yes">Sim</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="incapable-no" name="incapable" value="false" checked>
                <label class="form-check-label" for="incapable-yes">Não</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" id="responsible-name-field" style="display: none;">
          <div class="form-group">
            <label for="responsible-name">Nome do responsável<span class="required-mark">*</span></label>
            <div class="input-group">
              <input class="form-control" type="text" id="responsible-name" name="responsible_name">
            </div>
            <small class="form-text text-muted">
              Indicar o nome do responsável pelo paciente, o qual poderá realizar a solicitação do medicamento.
            </small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-9">
          <div class="form-group">
            <label for="doctor-name">Nome do médico solicitante<span class="required-mark">*</span></label>
            <div class="input-group">
              <input class="form-control" type="text" id="doctor-name" name="doctor_name" value="{{ user.medico.nome }}">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-9">
          <div class="form-group">
            <label for="cns">Número do Cartão Nacional de Saúde (CNS) do médico solicitante<span class="required-mark">*</span></label>
            <div class="input-group">
              <input class="form-control" type="text" id="cns" name="cns">
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="request-date">Data da solicitação<span class="required-mark">*</span></label>
            <div class="input-group">
              <input class="form-control" type="text" id="request-date" name="request_date">
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fas fa-calendar-alt"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section id="medicines-section" class="mb-4">
        <div class="row">
          {% for i in number_of_medicines %}          
          <div class="col-12 mt-3" id="medicine-{{ i }}" style="display: {{ i|yesno:'none,block' }}">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title mb-4">Medicamento #{{ i|add:"1" }}</h5>
                <div class="form-group">
                  <div class="row">
                    <div class="col-9">
                      <label for="name-{{ i }}">Nome</label>
                      <div class="input-group">
                        <input class="form-control" type="text" id="name-{{ i }}" name="medicine[][name]">
                      </div>
                    </div>                      
                  </div>
                  <div class="row mt-3">
                    <div class="col-2">
                      <label for="first-month-{{ i }}">1º mês</label>
                      <div class="input-group">
                        <input class="form-control" type="number" id="first-month-{{ i }}" name="medicine[][first_month]">
                      </div>
                    </div>
                    <div class="col-2">
                      <label for="second-month-{{ i }}">2º mês</label>
                      <div class="input-group">
                        <input class="form-control" type="number" id="second-month-{{ i }}" name="medicine[][second_month]">
                      </div>
                    </div>
                    <div class="col-2">
                      <label for="third-month-{{ i }}">3º mês</label>
                      <div class="input-group">
                        <input class="form-control" type="number" id="third-month-{{ i }}" name="medicine[][third_month]">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% if i < number_of_medicines|length|add:"-1" %}
            <button type="button" class="btn btn-outline-dark float-right mt-3" id="medicine-{{ i }}-toggler" data-toggle="tooltip" data-placement="left" title="Adicionar medicamento">
              <i class="fas fa-plus"></i>
            </button>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </section>
      <button class="btn btn-primary float-right mt-4" type="submit">Gerar LME</button>
    </form>
  </div>
</div>

{% endblock %}