{% load crispy_forms_tags %}
{% load static %}

<div class="section-card">
  <div class="section-header">
    <span class="oi oi-document mr-2"></span>
    Documentos Adicionais
  </div>
  <div class="section-body">
    <div class="row mb-3">
      <div class="col-md-4" id="div_url_1_vez" data-1-vez-url="{% url 'verificar_1_vez' %}">
        {{ formulario.consentimento|as_crispy_field }}
      </div>
      <div class="col-md-4" id="div_exames_1_vez" data-exames-url="#">
        {{ formulario.emitir_exames|as_crispy_field }}
      </div>
      <div class="col-md-4">
        {{ formulario.emitir_relatorio|as_crispy_field }}
      </div>
    </div>
    
    <div class="row">
      <div id="div-relatorio" class="d-none col-md-6">
        {{ formulario.relatorio|as_crispy_field }}
      </div>
      <div id="div-exames" class="d-none col-md-6">
        {{ formulario.exames|as_crispy_field }}
      </div>
    </div>
  </div>
</div>

