{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}


<div class="container-fluid">
  <form method="POST" target="_blank"> {% csrf_token %}

    
    <div class="card rounded" style="padding: 1.5rem;">

      <div><h3>{{ processo.paciente.nome_paciente }} - {{ processo.doenca.cid }}</h3></div><hr>

      <div class="form-row">
        <div class="col-sm-2"> {{ formulario.edicao_completa|as_crispy_field }} </div>
          <div class="col-sm-2"> {{ formulario.data_1|as_crispy_field }} </div>
      </div>

      {% include 'processos/campos1vez.html' %}

            <!-- Medicamentos -->
      {% include 'processos/form_med.html' %}

      <!-- Dados que são geralmente repetidos -->
      <div class="d-none" id="dados-repetidos">
            <div class="form-row">
              <div class="col-10"> {{ formulario.clinicas|as_crispy_field }} </div>
            </div>
      
  
      <div class="form-row">
          <div class="col-2">{{ formulario.cid|as_crispy_field }}</div>
          <div class="col-10">{{ formulario.diagnostico|as_crispy_field }}</div>
      </div>
  
      <div class="form-row">
              <div class="col-12">{{ formulario.anamnese|as_crispy_field }}</div>
      </div>
  
  
      <div class="form-row">
              <div class="col-3">{{ formulario.tratou|as_crispy_field }}</div>
              <div class="col-9 d-none" id="trat-escondido">{{ formulario.tratamentos_previos|as_crispy_field }}</div>
      </div>
  
      <div class="form-row">
          <div class="col-md-2"> {{ formulario.preenchido_por|as_crispy_field }}</div>
          
          <div class="col-md-2 campo-18 d-none"> {{ formulario.etnia|as_crispy_field }}</div>
          <div class="col-md-2 campo-18 d-none"> {{ formulario.telefone1_paciente|as_crispy_field }}</div>
          <div class="col-md-2 campo-18 d-none"> {{ formulario.telefone2_paciente|as_crispy_field }}</div>
          <div class="col-md-4 campo-18 d-none"> {{ formulario.email_paciente|as_crispy_field }}</div>
      </div>

    <div class="form-row">
        <div class="col-sm-2"> {{ formulario.cpf_paciente|as_crispy_field }} </div>
    </div>

     <div class="form-row">
                 
        <div class="col-10"> {{ formulario.nome_paciente|as_crispy_field }}</div>
        <div class="col-2"> {{ formulario.altura|as_crispy_field }}</div>
        
    </div>

    <div class="form-row">
        <div class="col-10"> {{ formulario.nome_mae|as_crispy_field }}</div>
        <div class="col-2"> {{ formulario.peso|as_crispy_field }}</div>
    </div>

    <div class="form-row">
        <div class="col-12"> {{ formulario.end_paciente|as_crispy_field }}</div>
    </div>


    <div class="form-row">
            <div class="col-3">{{ formulario.incapaz|as_crispy_field }}</div>
            <div class="col-9 d-none" id="resp-escondido">{{ formulario.nome_responsavel|as_crispy_field }}</div>
    </div>


          <!-- Campos condicionais -->

          {% if campos_condicionais %}
          {% include 'processos/campos_condicionais.html' %}
          {% endif %}

          <!-- Fim dos campos condicionais -->

    <!-- Fim dos dados geralmente repetidos -->
  </div>



    <div class="form-row">      
            <button class="btn btn-outline-info" type="submit">Renovar</button>
        </div>
    </div>    

  </form>
</div>


{% endblock %}

{% block scripts %}
<script src="{% static 'processos/js/processo.js' %}"></script>
<script src="{% static 'processos/js/med.js' %}"></script>
<script src="{% static 'processos/js/processoEdit.js' %}"></script>
<script src="{% static 'processos/js/verificar1Vez.js' %}"></script>
<script src="{% static 'processos/js/emitirExames.js' %}"></script>
{% endblock %}