{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}


<div class="container-fluid">
  <form method="POST" target="_blank"> {% csrf_token %}

    
    <div class="card rounded" style="padding: 1.5rem;">

      <div><h3>Renovação de Processo</h3></div><hr>
      <div><h5>Paciente: {{ processo.paciente.nome_paciente }}
        <div>Diagnóstico: {{ processo.diagnostico }}</div>
        <div> Data última renovação: {{ processo.data1 }} </div>  </h5></div><hr>

      <div class="form-row">
          <div class="col-sm-2"> {{ formulario.data_1|as_crispy_field }} </div>
          <div class="col-sm-2"> {{ formulario.edicao_completa|as_crispy_field }} </div>
      </div>

            <!-- Medicamentos -->
  
            <div class="row">
              <div class="col-3">
                <div class="nav flex-column nav-pills" id="medicamentos-tab">
                      <a class="nav-link active" id="medicamento-1-tab" data-toggle="pill" href="#medicamento-1">Medicamento #1</a>
                      <a class="nav-link d-none" id="medicamento-2-tab" data-toggle="pill" href="#medicamento-2">Medicamento #2</a>
                      <a class="nav-link d-none" id="medicamento-3-tab" data-toggle="pill" href="#medicamento-3">Medicamento #3</a>
                      <a class="nav-link d-none" id="medicamento-4-tab" data-toggle="pill" href="#medicamento-4">Medicamento #4</a>
                      <a class="nav-link d-none" id="medicamento-5-tab" data-toggle="pill" href="#medicamento-5">Medicamento #5</a>
                      
                  <a class="nav-link" href="" id="add-med"><span class="oi oi-plus text-top" title="Adicionar medicamento" aria-hidden="true"></span>
                    Adicionar </a>
                </div>
              </div>
              <div class="col-9">
                <div class="tab-content" id="medicamentos">
                    <div class="tab-pane fade card border-info active show" id="medicamento-1">
                        
                      <div class="card-header bg-primary text-white">Medicamento #1</div>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-md-9">{{ formulario.med1|as_crispy_field }}</div>
                                    <div class="col-md-3">{{ formulario.med1_repetir_posologia|as_crispy_field }}</div>
                                </div>
                                <div class="form-row">
                                  <div class="col-md-9">{{ formulario.med1_via|as_crispy_field }}</div>
                              </div>
        
                                    <div class="form-row bg-light rounded border border-dark" id="med1-mes1">
                                        <div class="col-md-2 bg-dark border-dark text-white">1º mês</div>
                                        <div class="col-md-8">{{ formulario.med1_posologia_mes1|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ formulario.qtd_med1_mes1|as_crispy_field }}</div>
                                    </div><br>

                  <!-- Div posologias opcionais  -->
                  <div class="d-none" id="posologias-opcionais-med1">                    
                        <div class="form-row bg-light rounded border border-dark" id="med1-mes2">
                          <div class="col-md-2 bg-dark border-dark text-white">2º mês</div>
                          <div class="col-md-8">{{ formulario.med1_posologia_mes2|as_crispy_field }}</div>
                          <div class="col-md-2">{{ formulario.qtd_med1_mes2|as_crispy_field }}</div>
                        </div><br>
            
            
                        <div class="form-row bg-light rounded border border-dark" id="med1-mes3">
                          <div class="col-md-2 bg-dark border-dark text-white">3º mês</div>
                          <div class="col-md-8">{{ formulario.med1_posologia_mes3|as_crispy_field }}</div>
                          <div class="col-md-2">{{ formulario.qtd_med1_mes3|as_crispy_field }}</div>
                        </div>
                  <!-- Fim div posologias opcionais  -->
                  </div>
        
                  </div>           
        
                </div>
        
                  <div class="tab-pane fade card border-info" id="medicamento-2">
        
                    <div class="card-header bg-primary text-white">Medicamento #2</div>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-md-9">{{ formulario.med2|as_crispy_field }}</div>
                                    <div class="col-md-3">{{ formulario.med2_repetir_posologia|as_crispy_field }}</div>
                                </div>
        
                                    <div class="form-row bg-light rounded border border-dark" id="med2-mes1">
                                        <div class="col-md-2 bg-dark border-dark text-white">1º mês</div>
                                        <div class="col-md-8">{{ formulario.med2_posologia_mes1|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ formulario.qtd_med2_mes1|as_crispy_field }}</div>
                                    </div><br>


                    <!-- Div posologias opcionais  -->
                  <div class="d-none" id="posologias-opcionais-med2"> 
                    <div class="form-row bg-light rounded border border-dark" id="med2-mes2">
                      <div class="col-md-2 bg-dark border-dark text-white">2º mês</div>
                      <div class="col-md-8">{{ formulario.med2_posologia_mes2|as_crispy_field }}</div>
                      <div class="col-md-2">{{ formulario.qtd_med2_mes2|as_crispy_field }}</div>
                    </div><br>
        
        
                    <div class="form-row bg-light rounded border border-dark" id="med2-mes3">
                      <div class="col-md-2 bg-dark border-dark text-white">3º mês</div>
                      <div class="col-md-8">{{ formulario.med2_posologia_mes3|as_crispy_field }}</div>
                      <div class="col-md-2">{{ formulario.qtd_med2_mes3|as_crispy_field }}</div>
                    </div>
        
                  </div>
                  <!-- Fim div posologias opcionais  -->
                </div>   
        
                  </div>
        
                  <div class="tab-pane fade card border-info" id="medicamento-3">
        
                    <div class="card-header bg-primary text-white">Medicamento #3</div>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-md-9">{{ formulario.med3|as_crispy_field }}</div>
                                    <div class="col-md-3">{{ formulario.med3_repetir_posologia|as_crispy_field }}</div>
                                </div>
        
                                    <div class="form-row bg-light rounded border border-dark" id="med3-mes1">
                                        <div class="col-md-2 bg-dark border-dark text-white">1º mês</div>
                                        <div class="col-md-8">{{ formulario.med3_posologia_mes1|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ formulario.qtd_med3_mes1|as_crispy_field }}</div>
                                    </div><br>
                    <!-- Div posologias opcionais  -->
                  <div class="d-none" id="posologias-opcionais-med3">                 
                    <div class="form-row bg-light rounded border border-dark" id="med3-mes2">
                      <div class="col-md-2 bg-dark border-dark text-white">2º mês</div>
                      <div class="col-md-8">{{ formulario.med3_posologia_mes2|as_crispy_field }}</div>
                      <div class="col-md-2">{{ formulario.qtd_med3_mes2|as_crispy_field }}</div>
                    </div><br>
        
        
                    <div class="form-row bg-light rounded border border-dark" id="med3-mes3">
                      <div class="col-md-2 bg-dark border-dark text-white">3º mês</div>
                      <div class="col-md-8">{{ formulario.med3_posologia_mes3|as_crispy_field }}</div>
                      <div class="col-md-2">{{ formulario.qtd_med3_mes3|as_crispy_field }}</div>
                    </div>
        
                  </div>
                  <!-- Fim div posologias opcionais  -->
                </div>  
                  </div>
        
                  <div class="tab-pane fade card border-info" id="medicamento-4">
        
                    <div class="card-header bg-primary text-white">Medicamento #4</div>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-md-9">{{ formulario.med4|as_crispy_field }}</div>
                                    <div class="col-md-3">{{ formulario.med4_repetir_posologia|as_crispy_field }}</div>
                                </div>
        
                                    <div class="form-row bg-light rounded border border-dark" id="med4-mes1">
                                        <div class="col-md-2 bg-dark border-dark text-white">1º mês</div>
                                        <div class="col-md-8">{{ formulario.med4_posologia_mes1|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ formulario.qtd_med4_mes1|as_crispy_field }}</div>
                                    </div><br>
                    <!-- Div posologias opcionais  -->
                    <div class="d-none" id="posologias-opcionais-med4">   
                    <div class="form-row bg-light rounded border border-dark" id="med4-mes2">
                      <div class="col-md-2 bg-dark border-dark text-white">2º mês</div>
                      <div class="col-md-8">{{ formulario.med4_posologia_mes2|as_crispy_field }}</div>
                      <div class="col-md-2">{{ formulario.qtd_med4_mes2|as_crispy_field }}</div>
                    </div><br>
        
        
                    <div class="form-row bg-light rounded border border-dark" id="med4-mes3">
                      <div class="col-md-2 bg-dark border-dark text-white">3º mês</div>
                      <div class="col-md-8">{{ formulario.med4_posologia_mes3|as_crispy_field }}</div>
                      <div class="col-md-2">{{ formulario.qtd_med4_mes3|as_crispy_field }}</div>
                    </div>
        
                  </div>
                  <!-- Fim div posologias opcionais  -->
                  </div> 
        
                  </div>
        
                  <div class="tab-pane fade card border-info" id="medicamento-5">
        
                    <div class="card-header bg-primary text-white">Medicamento #5</div>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-md-9">{{ formulario.med5|as_crispy_field }}</div>
                                    <div class="col-md-3">{{ formulario.med5_repetir_posologia|as_crispy_field }}</div>
                                </div>
        
                                    <div class="form-row bg-light rounded border border-dark" id="med5-mes1">
                                        <div class="col-md-2 bg-dark border-dark text-white">1º mês</div>
                                        <div class="col-md-8">{{ formulario.med5_posologia_mes1|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ formulario.qtd_med5_mes1|as_crispy_field }}</div>
                                    </div><br>
        
                    <!-- Div posologias opcionais  -->
                    <div class="d-none" id="posologias-opcionais-med5">   
                    <div class="form-row bg-light rounded border border-dark" id="med5-mes2">
                      <div class="col-md-2 bg-dark border-dark text-white">2º mês</div>
                      <div class="col-md-8">{{ formulario.med5_posologia_mes2|as_crispy_field }}</div>
                      <div class="col-md-2">{{ formulario.qtd_med5_mes2|as_crispy_field }}</div>
                    </div><br>
        
        
                    <div class="form-row bg-light rounded border border-dark" id="med5-mes3">
                      <div class="col-md-2 bg-dark border-dark text-white">3º mês</div>
                      <div class="col-md-8">{{ formulario.med5_posologia_mes3|as_crispy_field }}</div>
                      <div class="col-md-2">{{ formulario.qtd_med5_mes3|as_crispy_field }}</div>
                    </div>
        
                  </div>
                  <!-- Fim div posologias opcionais  -->
                  </div> 
        
                  </div>
                  
                </div>
              </div>
            </div>
            
            <!-- Fim Medicamentos -->

      <!-- Dados que são geralmente repetidos -->
      <div class="d-none" id="dados-repetidos">
            <div class="form-row">
              <div class="col-10"> {{ formulario.clinicas|as_crispy_field }} </div>
            </div>
      
  
      <div class="form-row">
          <div class="col-2">{{ formulario.cid|as_crispy_field }}</div>
          <div class="col-10">{{ formulario.diagnostico|as_crispy_field }}</div>
      </div>
  
      <div class="form-row">
              <div class="col-12">{{ formulario.anamnese|as_crispy_field }}</div>
      </div>
  
  
      <div class="form-row">
              <div class="col-3">{{ formulario.tratou|as_crispy_field }}</div>
              <div class="col-9 d-none" id="trat-escondido">{{ formulario.tratamentos_previos|as_crispy_field }}</div>
      </div>
  
      <div class="form-row">
          <div class="col-md-2"> {{ formulario.preenchido_por|as_crispy_field }}</div>
          
          <div class="col-md-2 campo-18 d-none"> {{ formulario.etnia|as_crispy_field }}</div>
          <div class="col-md-2 campo-18 d-none"> {{ formulario.telefone1_paciente|as_crispy_field }}</div>
          <div class="col-md-2 campo-18 d-none"> {{ formulario.telefone2_paciente|as_crispy_field }}</div>
          <div class="col-md-4 campo-18 d-none"> {{ formulario.email_paciente|as_crispy_field }}</div>
      </div>

    <div class="form-row">
        <div class="col-sm-4"> {{ formulario.cpf_paciente|as_crispy_field }} </div>
    </div>

     <div class="form-row">
                 
        <div class="col-10"> {{ formulario.nome_paciente|as_crispy_field }}</div>
        <div class="col-2"> {{ formulario.altura|as_crispy_field }}</div>
        
    </div>

    <div class="form-row">
        <div class="col-10"> {{ formulario.nome_mae|as_crispy_field }}</div>
        <div class="col-2"> {{ formulario.peso|as_crispy_field }}</div>
    </div>

    <div class="form-row">
        <div class="col-12"> {{ formulario.end_paciente|as_crispy_field }}</div>
    </div>


    <div class="form-row">
            <div class="col-3">{{ formulario.incapaz|as_crispy_field }}</div>
            <div class="col-9 d-none" id="resp-escondido">{{ formulario.nome_responsavel|as_crispy_field }}</div>
    </div>

    <!-- Fim dos dados geralmente repetidos -->
  </div>

    <div class="form-row">      
            <button class="btn btn-outline-info" type="submit">Renovar</button>
        </div>
    </div>    

  </form>
</div>


<script src="{% static 'processos/js/processo.js' %}"></script>

{% endblock %}