{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}


<div class="container-fluid">
  <form method="POST"> {% csrf_token %}

    
    <div class="card rounded" style="padding: 1.5rem;">

      <div><h3>{{ process.patient.patient_name }} - {{ process.disease.icd }}</h3></div><hr>

      <div class="form-row">
        <div class="col-sm-2"> {{ form.complete_edition|as_crispy_field }} </div>
          <div class="col-sm-2"> {{ form.data_1|as_crispy_field }} </div>
      </div>

      {% include 'processs/docs_adicionais.html' %}

            <!-- Medicamentos -->
      {% include 'processs/form_med.html' %}

      <!-- Dados que são geralmente repetidos -->
      <div class="d-none" id="data-repetidos">
            <div class="form-row">
              <div class="col-10"> {{ form.clinics|as_crispy_field }} </div>
            </div>
      
  
      <div class="form-row">
          <div class="col-2">{{ form.icd|as_crispy_field }}</div>
          <div class="col-10">{{ form.diagnosis|as_crispy_field }}</div>
      </div>
  
      <div class="form-row">
              <div class="col-12">{{ form.anamnesis|as_crispy_field }}</div>
      </div>
  
  
      <div class="form-row">
              <div class="col-3">{{ form.treated|as_crispy_field }}</div>
              <div class="col-9 d-none" id="trat-escondido">{{ form.previous_treatments|as_crispy_field }}</div>
      </div>
  
      <div class="form-row">
          <div class="col-md-2"> {{ form.filled_by|as_crispy_field }}</div>
          
          <div class="col-md-2 campo-18 d-none"> {{ form.ethnicity|as_crispy_field }}</div>
          <div class="col-md-2 campo-18 d-none"> {{ form.telefone1_patient|as_crispy_field }}</div>
          <div class="col-md-2 campo-18 d-none"> {{ form.telefone2_patient|as_crispy_field }}</div>
          <div class="col-md-4 campo-18 d-none"> {{ form.patient_email|as_crispy_field }}</div>
      </div>

    <div class="form-row">
        <div class="col-sm-2"> {{ form.patient_cpf|as_crispy_field }} </div>
    </div>

     <div class="form-row">
                 
        <div class="col-10"> {{ form.patient_name|as_crispy_field }}</div>
        <div class="col-2"> {{ form.height|as_crispy_field }}</div>
        
    </div>

    <div class="form-row">
        <div class="col-10"> {{ form.mother_name|as_crispy_field }}</div>
        <div class="col-2"> {{ form.weight|as_crispy_field }}</div>
    </div>

    <div class="form-row">
        <div class="col-12"> {{ form.patient_address|as_crispy_field }}</div>
    </div>


    <div class="form-row">
            <div class="col-3">{{ form.incapable|as_crispy_field }}</div>
            <div class="col-9 d-none" id="resp-escondido">{{ form.responsible_name|as_crispy_field }}</div>
    </div>


          <!-- Campos condicionais -->

          {% if conditional_fields %}
          {% include 'processs/conditional_fields.html' %}
          {% endif %}

          <!-- Fim dos fields condicionais -->

    <!-- Fim dos data geralmente repetidos -->
  </div>



    <div class="form-row">      
            <button class="btn btn-outline-info" type="submit">Renovar</button>
        </div>
    </div>    

  </form>
</div>

      <!-- Consulta de protocol -->
      {% include 'processs/consulta_protocol.html' %}


{% endblock %}

{% block scripts %}
<script src="{% static 'processs/js/process.js' %}"></script>
<script src="{% static 'processs/js/med.js' %}"></script>
<script src="{% static 'processs/js/processEdit.js' %}"></script>
<script src="{% static 'processs/js/documentosAdicionais.js' %}"></script>
<script src="{% static 'processs/js/emitirExamonth.js' %}"></script>
<script src="{% static 'processs/js/mostrarProtocolo.js' %}"></script>
{% endblock %}