{% load crispy_forms_tags %}
{% load static %}
            <!-- Medicamentos -->
  
            <div class="row">
                <div class="col-3">
                  <div class="nav flex-column nav-pills" id="medications-tab">
                        <a class="nav-link active" id="medication-1-tab" data-toggle="pill" href="#medication-1">Medicamento #1</a>
                        <a class="nav-link {{ med2_mostrar }}" id="medication-2-tab" data-toggle="pill" href="#medication-2">Medicamento #2</a>
                        <a class="nav-link {{ med3_mostrar }}" id="medication-3-tab" data-toggle="pill" href="#medication-3">Medicamento #3</a>
                        <a class="nav-link {{ med4_mostrar }}" id="medication-4-tab" data-toggle="pill" href="#medication-4">Medicamento #4</a>
                       
                    <a class="nav-link" href="" id="add-med"><span class="oi oi-plus text-top" title="Adicionar medication" aria-hidden="true"></span>
                      Adicionar </a>
                  </div>
                </div>
                <div class="col-9">
                  <div class="tab-content" id="medications">
                      <div class="tab-pane fade card border-info active show" id="medication-1">
                          
                        <div class="card-header bg-primary text-white">Medicamento #1</div>
                              <div class="card-body">
                                  <div class="form-row">
                                      <div class="col-md-9">{{ form.id_med1|as_crispy_field }}</div>
                                      <div class="col-md-3">{{ form.med1_repeat_posology|as_crispy_field }}</div>
                                  </div>
                                  <div class="form-row">
                                    <div class="col-md-9">{{ form.med1_route_administration|as_crispy_field }}</div>
                                </div>
          
                                      <div class="form-row bg-light rounded border border-dark" id="med1-month1">
                                          <div class="col-md-2 bg-dark border-dark text-white">1º mês</div>
                                          <div class="col-md-8">{{ form.med1_posology_month1|as_crispy_field }}</div>
                                          <div class="col-md-2">{{ form.qtd_med1_month1|as_crispy_field }}</div>
                                      </div><br>
  
                    <!-- Div posologias opcionais  -->
                    <div class="d-none" id="posologias-opcionais-med1">                    
                          <div class="form-row bg-light rounded border border-dark" id="med1-month2">
                            <div class="col-md-2 bg-dark border-dark text-white">2º mês</div>
                            <div class="col-md-8">{{ form.med1_posology_month2|as_crispy_field }}</div>
                            <div class="col-md-2">{{ form.qtd_med1_month2|as_crispy_field }}</div>
                          </div><br>
              
              
                          <div class="form-row bg-light rounded border border-dark" id="med1-month3">
                            <div class="col-md-2 bg-dark border-dark text-white">3º mês</div>
                            <div class="col-md-8">{{ form.med1_posology_month3|as_crispy_field }}</div>
                            <div class="col-md-2">{{ form.qtd_med1_month3|as_crispy_field }}</div>
                          </div><br>

                          <div class="form-row bg-light rounded border border-dark" id="med1-month4">
                            <div class="col-md-2 bg-dark border-dark text-white">4º mês</div>
                            <div class="col-md-8">{{ form.med1_posology_month4|as_crispy_field }}</div>
                            <div class="col-md-2">{{ form.qtd_med1_month4|as_crispy_field }}</div>
                          </div><br>

                          <div class="form-row bg-light rounded border border-dark" id="med1-month5">
                            <div class="col-md-2 bg-dark border-dark text-white">5º mês</div>
                            <div class="col-md-8">{{ form.med1_posology_month5|as_crispy_field }}</div>
                            <div class="col-md-2">{{ form.qtd_med1_month5|as_crispy_field }}</div>
                          </div><br>

                          <div class="form-row bg-light rounded border border-dark" id="med1-month6">
                            <div class="col-md-2 bg-dark border-dark text-white">6º mês</div>
                            <div class="col-md-8">{{ form.med1_posology_month6|as_crispy_field }}</div>
                            <div class="col-md-2">{{ form.qtd_med1_month6|as_crispy_field }}</div>
                          </div>

                    <!-- Fim div posologias opcionais  -->
                    </div>
          
                    </div>           
          
                  </div>
          
                    <div class="tab-pane fade card border-info" id="medication-2">
          
                      <div class="card-header bg-primary text-white">Medicamento #2</div>
                              <div class="card-body">
                                  <div class="form-row">
                                      <div class="col-md-9">{{ form.id_med2|as_crispy_field }}</div>
                                      <div class="col-md-3">{{ form.med2_repeat_posology|as_crispy_field }}</div>
                                  </div>
          
                                      <div class="form-row bg-light rounded border border-dark" id="med2-month1">
                                          <div class="col-md-2 bg-dark border-dark text-white">1º mês</div>
                                          <div class="col-md-8">{{ form.med2_posology_month1|as_crispy_field }}</div>
                                          <div class="col-md-2">{{ form.qtd_med2_month1|as_crispy_field }}</div>
                                      </div><br>
  
  
                      <!-- Div posologias opcionais  -->
                    <div class="d-none" id="posologias-opcionais-med2"> 
                      <div class="form-row bg-light rounded border border-dark" id="med2-month2">
                        <div class="col-md-2 bg-dark border-dark text-white">2º mês</div>
                        <div class="col-md-8">{{ form.med2_posology_month2|as_crispy_field }}</div>
                        <div class="col-md-2">{{ form.qtd_med2_month2|as_crispy_field }}</div>
                      </div><br>
          
          
                      <div class="form-row bg-light rounded border border-dark" id="med2-month3">
                        <div class="col-md-2 bg-dark border-dark text-white">3º mês</div>
                        <div class="col-md-8">{{ form.med2_posology_month3|as_crispy_field }}</div>
                        <div class="col-md-2">{{ form.qtd_med2_month3|as_crispy_field }}</div>
                      </div><br>

                      <div class="form-row bg-light rounded border border-dark" id="med2-month4">
                        <div class="col-md-2 bg-dark border-dark text-white">4º mês</div>
                        <div class="col-md-8">{{ form.med2_posology_month4|as_crispy_field }}</div>
                        <div class="col-md-2">{{ form.qtd_med2_month4|as_crispy_field }}</div>
                      </div><br>

                      <div class="form-row bg-light rounded border border-dark" id="med2-month5">
                        <div class="col-md-2 bg-dark border-dark text-white">5º mês</div>
                        <div class="col-md-8">{{ form.med2_posology_month5|as_crispy_field }}</div>
                        <div class="col-md-2">{{ form.qtd_med2_month5|as_crispy_field }}</div>
                      </div><br>

                      <div class="form-row bg-light rounded border border-dark" id="med2-month6">
                        <div class="col-md-2 bg-dark border-dark text-white">6º mês</div>
                        <div class="col-md-8">{{ form.med2_posology_month6|as_crispy_field }}</div>
                        <div class="col-md-2">{{ form.qtd_med2_month6|as_crispy_field }}</div>
                      </div>
          
                    </div>
                    <!-- Fim div posologias opcionais  -->
                  </div>   
          
                    </div>
          
                    <div class="tab-pane fade card border-info" id="medication-3">
          
                      <div class="card-header bg-primary text-white">Medicamento #3</div>
                              <div class="card-body">
                                  <div class="form-row">
                                      <div class="col-md-9">{{ form.id_med3|as_crispy_field }}</div>
                                      <div class="col-md-3">{{ form.med3_repeat_posology|as_crispy_field }}</div>
                                  </div>
          
                                      <div class="form-row bg-light rounded border border-dark" id="med3-month1">
                                          <div class="col-md-2 bg-dark border-dark text-white">1º mês</div>
                                          <div class="col-md-8">{{ form.med3_posology_month1|as_crispy_field }}</div>
                                          <div class="col-md-2">{{ form.qtd_med3_month1|as_crispy_field }}</div>
                                      </div><br>
                      <!-- Div posologias opcionais  -->
                    <div class="d-none" id="posologias-opcionais-med3">                 
                      <div class="form-row bg-light rounded border border-dark" id="med3-month2">
                        <div class="col-md-2 bg-dark border-dark text-white">2º mês</div>
                        <div class="col-md-8">{{ form.med3_posology_month2|as_crispy_field }}</div>
                        <div class="col-md-2">{{ form.qtd_med3_month2|as_crispy_field }}</div>
                      </div><br>
          
          
                      <div class="form-row bg-light rounded border border-dark" id="med3-month3">
                        <div class="col-md-2 bg-dark border-dark text-white">3º mês</div>
                        <div class="col-md-8">{{ form.med3_posology_month3|as_crispy_field }}</div>
                        <div class="col-md-2">{{ form.qtd_med3_month3|as_crispy_field }}</div>
                      </div>

                      <div class="form-row bg-light rounded border border-dark" id="med3-month4">
                        <div class="col-md-2 bg-dark border-dark text-white">4º mês</div>
                        <div class="col-md-8">{{ form.med3_posology_month4|as_crispy_field }}</div>
                        <div class="col-md-2">{{ form.qtd_med3_month4|as_crispy_field }}</div>
                      </div><br>

                      <div class="form-row bg-light rounded border border-dark" id="med3-month5">
                        <div class="col-md-2 bg-dark border-dark text-white">5º mês</div>
                        <div class="col-md-8">{{ form.med3_posology_month5|as_crispy_field }}</div>
                        <div class="col-md-2">{{ form.qtd_med3_month5|as_crispy_field }}</div>
                      </div><br>

                      <div class="form-row bg-light rounded border border-dark" id="med3-month6">
                        <div class="col-md-2 bg-dark border-dark text-white">6º mês</div>
                        <div class="col-md-8">{{ form.med3_posology_month6|as_crispy_field }}</div>
                        <div class="col-md-2">{{ form.qtd_med3_month6|as_crispy_field }}</div>
                      </div>
          
                    </div>
                    <!-- Fim div posologias opcionais  -->
                  </div>  
                    </div>
          
                    <div class="tab-pane fade card border-info" id="medication-4">
          
                      <div class="card-header bg-primary text-white">Medicamento #4</div>
                              <div class="card-body">
                                  <div class="form-row">
                                      <div class="col-md-9">{{ form.id_med4|as_crispy_field }}</div>
                                      <div class="col-md-3">{{ form.med4_repeat_posology|as_crispy_field }}</div>
                                  </div>
          
                                      <div class="form-row bg-light rounded border border-dark" id="med4-month1">
                                          <div class="col-md-2 bg-dark border-dark text-white">1º mês</div>
                                          <div class="col-md-8">{{ form.med4_posology_month1|as_crispy_field }}</div>
                                          <div class="col-md-2">{{ form.qtd_med4_month1|as_crispy_field }}</div>
                                      </div><br>
                      <!-- Div posologias opcionais  -->
                      <div class="d-none" id="posologias-opcionais-med4">   
                      <div class="form-row bg-light rounded border border-dark" id="med4-month2">
                        <div class="col-md-2 bg-dark border-dark text-white">2º mês</div>
                        <div class="col-md-8">{{ form.med4_posology_month2|as_crispy_field }}</div>
                        <div class="col-md-2">{{ form.qtd_med4_month2|as_crispy_field }}</div>
                      </div><br>
          
          
                      <div class="form-row bg-light rounded border border-dark" id="med4-month3">
                        <div class="col-md-2 bg-dark border-dark text-white">3º mês</div>
                        <div class="col-md-8">{{ form.med4_posology_month3|as_crispy_field }}</div>
                        <div class="col-md-2">{{ form.qtd_med4_month3|as_crispy_field }}</div>
                      </div> <br>

                      <div class="form-row bg-light rounded border border-dark" id="med4-month4">
                        <div class="col-md-2 bg-dark border-dark text-white">4º mês</div>
                        <div class="col-md-8">{{ form.med4_posology_month4|as_crispy_field }}</div>
                        <div class="col-md-2">{{ form.qtd_med4_month4|as_crispy_field }}</div>
                      </div><br>

                      <div class="form-row bg-light rounded border border-dark" id="med4-month5">
                        <div class="col-md-2 bg-dark border-dark text-white">5º mês</div>
                        <div class="col-md-8">{{ form.med4_posology_month5|as_crispy_field }}</div>
                        <div class="col-md-2">{{ form.qtd_med4_month5|as_crispy_field }}</div>
                      </div><br>

                      <div class="form-row bg-light rounded border border-dark" id="med4-month6">
                        <div class="col-md-2 bg-dark border-dark text-white">6º mês</div>
                        <div class="col-md-8">{{ form.med4_posology_month6|as_crispy_field }}</div>
                        <div class="col-md-2">{{ form.qtd_med4_month6|as_crispy_field }}</div>
                      </div>
          
                    </div>
                    <!-- Fim div posologias opcionais  -->
                    </div> 
          
                    </div>
          
                   
                  </div>
                </div>
              </div>
              
              <!-- Fim Medicamentos -->