{% extends "base.html" %}
   
{% block content %}
<div class="card rounded" style="min-width:700px; max-width: 850px; margin: auto; padding: 0;">
<h3>Renovação de Processos</h3>

<table class="table table-striped standard table-sm">
        <thead>
            <th scope="col">Paciente</th>
            <th scope="col">Processos</th>
            <th scope="col">Editar?</th>
            <th scope="col">Primeira Data</th>
        </thead>
        <tbody>
            {% for paciente in busca_pacientes %}
            
            <tr>
                
                <td>
                    <form name="form" method="POST">
                        {% csrf_token %}
                    <div class="col-12">

                        {{ paciente.nome_paciente }}
                            <input type="hidden" name="paciente_id" value="{{ paciente.id }}">
                    </div>
                </td>
                
                <td class ="align-middle">
                    <div class="form-group align-middle">
                        <select class="custom-select" name="processo_id">
                            <!-- if processo é do request.user -->
                            {% for processo in paciente.processos.all %}
                            {% if processo.usuario == usuario %}
                            <option value="{{ processo.id }}">{{ processo }}</option>
                            {% endif %}
                            {% endfor %}
                            </select>
                        
                    </div>   
                </td>
                
                <td class="align-middle"><label class="checkbox-inline"><input type="checkbox" name="edicao"></label></td>

                <td class="align-middle"> 
                    <div class="input-group mb-3">
                            <input type="text" class="form-control datas" name="data_1" placeholder="DD/MM/AAAA" style="max-width: 130px;">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Renovar <span class="oi oi-reload"></span></button>
                        </div>
                    </div>  
                </form>
                </td>
            
                
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock content %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha256-Kg2zTcFO9LXOc7IwcBx1YeUBJmekycsnTsq2RuFHSZU=" crossorigin="anonymous"></script>
<script>
$('.datas').mask('00/00/0000');
</script>

<script>
(() => {
    const button = $('.btn');
    button.click(function(){
    const dateField = $(event.target).closest('.input-group').find('.datas');
    let dateFieldVal = dateField.val();
    let day = dateFieldVal.slice(0,2)
    let month = dateFieldVal.slice(3,5);
    let year = dateFieldVal.slice(6,10);
    const date = new Date(year, (+month-1), day);
    const isValidDate = (Boolean(+date) && date.getDate() == day && date.getMonth() == month -1 && date.getFullYear() == year);  
    if (!isValidDate) {
        event.preventDefault();
        alert('Data inválida!')
    };
    });
})();

</script>
{% endblock scripts%}

