services:
  db:
    image: postgres:17.4-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=lucas
      - POSTGRES_PASSWORD=rraptnor
      - POSTGRES_DB=autocusto
    ports:
      - "5432:5432"
  
  web:
    build:
      context: .
      target: test
    command: /home/appuser/app/startup.sh python manage.py runserver 0.0.0.0:8001
    ports:
      - "8001:8001"
    volumes:
      - .:/home/appuser/app
      - ./backups:/var/backups/autocusto
    tmpfs:
      - /tmp:rw,noexec,nosuid,size=200m
      - /dev/shm:rw,noexec,nosuid,size=200m
    depends_on:
      - db
      - playwright-server
    env_file:
      - .backupenv
    environment:
      - DEBUG=true
      - SECRET_KEY=jklahjkldfakjhKLJHADJKFHASDKHFJKLhadsfhjkladhOIUYHQ6516AS5DFASD65F48A6S1652asd1f3as2d
      - DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 0.0.0.0 web
      - USE_X_FORWARDED_HOST=1
      - SECURE_PROXY_SSL_HEADER=HTTP_X_FORWARDED_PROTO,https
      - SQL_ENGINE=django.db.backends.postgresql
      - SQL_DATABASE=autocusto
      - SQL_USER=lucas
      - SQL_PASSWORD=rraptnor
      - SQL_HOST=db
      - SQL_PORT=5432
      # Playwright server configuration
      - PW_TEST_CONNECT_WS_ENDPOINT=ws://playwright-server:3000/

  playwright-server:
    image: mcr.microsoft.com/playwright:v1.54.0-noble
    # Expose Playwright server port
    ports:
      - "3000:3000"
    # Start Playwright server
    command: >
      sh -c "
        echo 'Starting Playwright server...'
        npx -y playwright@1.54.0 run-server --port 3000 --host 0.0.0.0
      "


volumes:
  postgres_data: