asgiref==3.8.1
crispy-bootstrap4==2024.10
Django==5.2rc1
django-crispy-forms==2.3
dotenv==0.9.9
gunicorn>=23.0.0
psycopg2-binary==2.9.10
pypdftk==0.5
python-dotenv==1.1.0
pytz==2025.2
setuptools==78.1.0
sqlparse==0.5.3
substring==0.2
whitenoise==6.9.0
