{% extends "base.html" %}
{% load crispy_forms_tags %}
   
{% block content %}


{% if user.is_authenticated %}
<div class="container card-rounded" style="max-width:500px">
    <h2>Adicionar processo</h2><hr>
    <form method="POST">
        {% csrf_token %}
        {{formulario|crispy}}
        <button class="btn btn-outline-info" type="submit">Cadastrar</button>
    </form>
    </div>
</div>
{% else %}
<div class="container card-rounded" style="max-width:500px">
    <h2>Código de convite</h2><hr>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="convite">
        <button class="btn btn-outline-secondary" type="submit">Cadastrar</button>
    </form>
    </div>
</div>
{% endif %}
        
{% endblock content %}