{% extends "base.html" %}
{% load crispy_forms_tags %}
   
{% block content %}

<div class="container" style="max-width:500px">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Cadastro Médico <span class="oi oi-task text-top" title="Adicionar medicamento" aria-hidden="true"></span></legend>
            {{ formulario|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Cadastrar</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Já tem uma conta? <a class="ml-2" href="{% url 'login' %}">Faça o login</a>
        </small>
    </div>
</div>
        
{% endblock content %}
